html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content:space-evenly;
    background-color: antiquewhite;
    border-radius: .25rem;
    opacity: .9;
    margin: 1%;
    border: 3px solid rgb(225, 220, 215);
}

.navbar-brand {
  font-weight: bold;
  font-size:xx-large;
  width: 50%;
}

.navbar-nav {
    font-weight: bold;
    font-size: larger;
}

/* #navbar-title {
    
} */

#navbar-options {
    justify-content: end;
}

main {
  display:flex;
  justify-content: center;
  align-items: center;
  flex:1 1 auto;
}

.bg {
    background-image: url("https://wallpapercave.com/wp/wp6479379.jpg");
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
}

footer {
   align-self: center;
}

#main-input-box {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    opacity: .9;
    border-radius: .25rem;
    padding: 1rem;
    border: 3px solid rgb(225, 220, 215);
}

#test-box{
    background-color: white;
    height: 100px;
}

.input-group {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

#fillbox {
    display: inline;
    width: 75%;
    height: 3rem;
    margin: 0;
}

#fill-button {
    width: 24%;
    margin: 0;
    height: 3rem;
}